.t2k4e.sheet.actor {
	min-height: 400px;
	min-width: 550px;

	.window-content {
		// background: @colorLightKhaki;
		.font-daisywheel();
		font-size: 11pt;
		color: @colorBrown;
	}

	input,
	div.editable,
	.editor-content {
		color: @colorBlue !important;
	}

	h3 {
		font-size: 11pt;
		text-transform: uppercase;
		margin: 0;
	}

	h4 {
		font-size: 9pt;
		text-transform: uppercase;
		margin: 0;
	}

	label {
		font-size: 9pt;
		text-transform: uppercase;
		margin-left: 4px;

		&.small {
			font-size: 7pt;
		}
	}

	/* ------------------------------------------- */
	/*  Sheet Header                               */
	/* ------------------------------------------- */

	.sheet-header {
		img.profile {
			border: 2px solid @colorBrown;
			border-radius: 4px;
			margin: 0 0 0 20px;
		}

		.header-details {
			.header-details-row {
				margin: 3px 0;
			}
		}
	}

	/* ------------------------------------------- */
	/*  Sheet Navigation                           */
	/* ------------------------------------------- */

	.sheet-tabs {
		color: @colorBrown;
		text-transform: uppercase;
		font-size: 11pt;

		// Fixes a tab bug.
		&.slanted-tabs {
			margin-bottom: 1px;
		}
	}

	/* ------------------------------------------- */
	/*  Sheet Body                                 */
	/* ------------------------------------------- */

	.sheet-body {

		/* ------------------------------------------- */

		.tab-main {
			h3 {
				&:not(:first-child) {
					margin-top: 10px;
				}

				> * {
					flex: 0;
				}

				.item-create {
					margin-left: auto;
				}
			}

			.stat-block {
				margin-bottom: 6px;

				.stat-header {
					label {
						font-size: 7pt;
						text-transform: uppercase;
					}
				}

				.attribute,
				.skill {
					label {
						font-size: 9pt;
					}
				}
			}

			.specialties-slots {
				.item-specialty {
					margin: 6px 0;
					color: @colorBlue;
				}
			}
		}

		/* ------------------------------------------- */

		.tab-equipment {
			.encumbrance {
				&.overencumbered {
					color: #f00;
				}
			}
		}

		/* ------------------------------------------- */

		.tab-biography {
			label {
				font-size: 9pt;
				text-transform: uppercase;

				&:not(:first-child) {
					margin-top: 10px;
				}
			}

			.editor {
				min-height: 32px;

				.editor-content {
					margin-left: 4px;
				}

				.tox-tinymce {
					min-height: 100px;
				}
			}
		}
	}
}