.chat-message {
	@dieSize: 64px;
	.actor-sheet-background();
	.font-text-normal();

	.message-content {
		// Custom Dice.
		.basedied12,
		.basedied10,
		.basedied8,
		.basedied6,
		.ammodie {
			width: @dieSize;
			background-position: center;
			img {
				border: none;
			}
		}
	}

	.t2k4e.chat-card .card-content {
		img {
			border: none;
		}
		.card-description {
			h4 {
				border-top: 1px solid @colorBrown;
			}

			// .grid > div {
			// 	display: flex;
			// 	flex-direction: column;
			// }
		}

		.card-buttons {
			margin-top: @gap;

			button {
				line-height: 1rem;
			}
		}
	}
}