/* ------------------------------------------- */
/*  Fonts                                      */
/* ------------------------------------------- */

@font-face {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 800;
	src: url('fonts/NunitoSans-ExtraBold.woff') format('woff2');
}

@font-face {
	font-family: 'Mukta';
	font-style: normal;
	font-weight: 500;
	src: url('fonts/Mukta-Medium.woff') format('woff2');
}

@font-face {
	font-family: 'Mukta';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Mukta-Bold.woff') format('woff2');
}

@font-face {
	font-family: 'DaisyWheel';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/daisywheel.otf') format('opentype');
}

.nunito {
	font-family: "Nunito Sans";
	font-weight: 800;
	font-size: 20px;
	text-transform: capitalize;
}

/* ------------------------------------------- */
/*  Styles                                     */
/* ------------------------------------------- */

@colorDark: #000;
@colorBeige: #E6E7D8;
@colorBrown: #604F43;
@colorTan: #7A7971;
@borderGroove: 2px groove #9D9B7E;