# OS
.DS_Store

# IDE
/.vs
/.vscode/launch.json
*.code-workspace

# Node Modules
/node_modules

# Logs
/logs
npm-debug.log
*.log

# Local Configuration
pathconfig
/*.lock
src/lang/foundry

# Distribution Files
/dist
/foundry.js
