<form class="t2k4e dialog roll-dialog">

  {{!-- ================================================== --}}

  <div class="flexrow">
    <select name="actor">
      <option value="" selected></option>
      {{#each actors as | name id |}}
      <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>

</form>