/* ------------------------------------------- */
/*  Flexbox                                    */
/* ------------------------------------------- */
.flex-center {
  justify-content: center;
}
.flex-left {
  justify-content: flex-start;
}
.flex-right {
  justify-content: flex-end;
}
.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-top {
  align-items: flex-start;
}
.flex-bottom {
  align-items: flex-end;
}
.flex-middle {
  align-items: center;
}
.flex-grow {
  flex-grow: 1;
}
.t2k4e .full {
  width: 100%;
  height: 100%;
}
/* ------------------------------------------- */
/*  Column Layout                              */
/* ------------------------------------------- */
/**
 * Creates a range of styles from .col-1 to .col-12
 * for placing flex elements like in a table.
 */
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
.col-11 {
  flex: 0 0 auto;
  width: 91.67%;
}
.col-10 {
  flex: 0 0 auto;
  width: 83.33%;
}
.col-9 {
  flex: 0 0 auto;
  width: 75%;
}
.col-8 {
  flex: 0 0 auto;
  width: 66.67%;
}
.col-7 {
  flex: 0 0 auto;
  width: 58.33%;
}
.col-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-5 {
  flex: 0 0 auto;
  width: 41.67%;
}
.col-4 {
  flex: 0 0 auto;
  width: 33.33%;
}
.col-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-2 {
  flex: 0 0 auto;
  width: 16.67%;
}
.col-1 {
  flex: 0 0 auto;
  width: 8.33%;
}
