<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/t2k4e/templates/items/parts/item-header.hbs"}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs slanted-tabs flexrow flex-center" data-group="primary">
    <a class="item" data-tab="modifiers">{{localize "T2K4E.ItemSheet.ModifiersTab"}}</a>
    <a class="item" data-tab="description">{{localize "T2K4E.ItemSheet.DescriptionTab"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Modifiers Tab --}}
    <div class="tab tab-modifiers" data-group="primary" data-tab="modifiers">
      {{> "systems/t2k4e/templates/items/parts/item-modifiers.hbs"}}
    </div>

    {{!-- Description Tab --}}
    <div class="tab tab-description" data-group="primary" data-tab="description">
      {{> "systems/t2k4e/templates/items/parts/item-description.hbs"}}
    </div>

  </section>

</form>