<div class="tab tab-combat" data-group="primary" data-tab="combat"></div>

{{!-- <div class="item">
        <a class="value-change" data-field="damage">
            {{#times data.hitCapacity}}
                {{#if (gte ../data.damage @index)}}
                <i class="fas fa-times-circle"></i>
                {{else}}
                <i class="far fa-circle"></i>
                {{/if}}
            {{/times}}
        </a>
    </div> --}}