<div class="tab tab-equipment" data-group="primary" data-tab="equipment">

    <div class="encumbrance {{#if data.overEncumbered}}overencumbered{{/if}}">
        <i class="fas fa-weight-hanging"></i>
        {{data.encumbrance.value}}&nbsp;/&nbsp;{{data.encumbrance.max}}
    </div>

</div>