<div class="tab tab-combat" data-group="primary" data-tab="combat">

    <div class="capacity">
        {{> "systems/t2k4e/templates/actors/parts/damage-boxes.hbs"}}
        <div>
            <label>{{localize "T2KLANG.ActorSheet.HitCapacity"}}</label>
            <div>{{data.hitCapacity}}</div>
        </div>
    </div>

    <div class="capacity">
        {{> "systems/t2k4e/templates/actors/parts/stress-boxes.hbs"}}
        <div>
            <label>{{localize "T2KLANG.ActorSheet.StressCapacity"}}</label>
            <div>{{data.stressCapacity}}</div>
        </div>
    </div>

</div>