<div class="crew-list">
  <div class="form-group">
    <label>{{localize "T2K4E.VehicleSheet.Drivers"}}</label>
    <input type="number" name="data.crew.driver" value={{data.crew.driver}} data-dtype="Number"/>
  </div>
  <div class="form-group">
    <label>{{localize "T2K4E.VehicleSheet.Passengers"}}</label>
    <input type="number" name="data.crew.passenger" value={{data.crew.passenger}} data-dtype="Number"/>
  </div>
</div>

<div style="margin-top: 30px;">
  <p>
    <small>
      <i>Planned feature: equip players in the vehicle.</i>
    </small>
  </p>
</div>