<div class="item-buttons">
    <a class="button item-edit" title="{{localize "T2K4E.ActorSheet.Edit"}}">
        <i class="fas fa-edit"></i>
    </a>
    <a class="button item-delete" title="{{localize "T2K4E.ActorSheet.Delete"}}">
        <i class="fas fa-trash"></i>
    </a>
</div>