<div class="item item-weapon item-disabled flexrow" data-item-id=null draggable="false">

    <div class="item-name flexrow">
        {{!-- <img src="" title="{{localize "T2K4E.ActorSheet.Unarmed"}}" width="24" height="24"/> --}}
        <div>{{localize "T2K4E.ActorSheet.Unarmed"}}</div>
    </div>
    <div class="item-detail item-rof"></div>
    <div class="item-detail item-damage">1</div>
    <div class="item-detail item-crit">3</div>
    <div class="item-detail item-armor">+3</div>
    <div class="item-detail item-range"></div>
    <div class="item-detail item-mag"></div>
    <div class="item-detail item-reliability"></div>
    <div class="item-detail item-blast"></div>
    <div class="item-detail item-weight">–</div>

    <div class="item-controls">
        {{!-- {{> "systems/t2k4e/templates/actors/parts/slots/slot-buttons.hbs"}} --}}
    </div>

</div>